/*
* @Author: Administrator
* @Date:   2017-09-30 11:49:00
* @Last Modified by:   Administrator
* @Last Modified time: 2017-09-30 12:00:55
*/
a{
		text-decoration: none;

}
*{
		margin: 0 ;
		padding: 0;
		list-style: none;
		font-family: "微软雅黑"，"宋体",sans-serif;
}
body{
	background: #ffffff;
}
img{
	border: 0;
}