/* 
* @Author: Administrator
* @Date:   2017-09-27 19:10:29
* @Last Modified by:   Administrator
* @Last Modified time: 2017-11-23 23:19:33
*/
/* a{
		text-decoration: none;
		font-size: 12px;
}

*{
		margin: 0 auto;
		padding: 0;
		list-style: none;
        margin: 0 auto;
}
 */
@import url('base.css');

/* 头部开始 */
.head{
		width: 100%;
		height: 40px;
		background: #333333;
}
.head-center{
		width: 1226px;
		height: 40px;
		/* background: red; */
		margin: 0 auto;

}
.head-left{
		width: 650px;
		height: 100%;
		/* background: yellow; */
		float: left;
		margin-left: 0;
}
.head-right{
		width: 320px;
		height: 100%;
		/* background: yellow; */
		float: right;
		
}
.box{
	float: left;
	font-size: 12px;
	display: block;
	padding: 0px 8px;
	margin-top: 12px;
	border-left: 1px solid #424242;
	color: #a4a4a4;

}
.box-right{
	float: left;
	font-size: 12px;
	display: block;
	padding: 0px 8px;
	margin-top: 12px;
	border-left: 1px solid #424242;
	color: #a4a4a4;

}

.list-right .box-right:first-child{
		border-left: none;
		padding-left: 42px;
}
.list-right .box-right:last-child{
		border-left: none;
		
}


li a{
		color: #a4a4a4;
}
li a:hover{
		color: #fff;
}
.list-left .box:first-child{
		border-left: none;
		padding-left: 0px;
}

.gouwu{	
		width: 120px;
		height: 40px;
		background: #424242; 
		float: right;
		color: #424242;

}
.gouwuche{
		width: 20px;
		height: 16px;
		/* background: green; */
		float: left;
		margin-left: 17px;
		margin-top: 13px;
		background:  url('gouwuche.png') no-repeat center center;


}
.gouwuzi{
		width: 83px;
		height: 14px;
		/* background: green; */
		float: right;
		margin-top: 14px;
		font-size: 12px;
		color: #b0b0b0;

}
.gwc{
	width: 316px;
	height: 0px;
	position: absolute;
	background: #fff;
	right: 61.5px;
	top: 40px;
	z-index: 1000;
	color: rgb(66, 66, 66);
	font-size: 12px;
	text-align: center;
	line-height: 100px;
	overflow: hidden;
	transition: all 0.5s;
	box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
	opacity: 0;
}

.denglu{
		width: 199px;
		height: 40px;
		/* background: blue; */
		float: left;
}
.gouwu:hover{
		background: #fff;

}
.gouwu:hover .gouwuzi{
		color: #ff6700;
}

.gouwu:hover .gouwuche{
		background: url('../img/gouwuche2.png') no-repeat center center;
}



/* 头部结束 */

/* 导航开始 */
.box3{
	width: 1226px;
	height: 100px;
/* 	background: red; */
	margin: 0 auto;
}
.box2 ul{
	width: 720px;
	height: 100px;
/* 	background: yellow; */
	/* margin-left: 180px; */
}
.mi-box{
	width: 55px;
	height: 55px;
	background: blue;
	float: left;
	margin: 0 auto;
	margin-top: 22px;
}
.box2{
	width: auto;
	height: 88px;
	/* background: blue; */
	float: left;
	padding-top: 10px;
	padding-left: 120px;
	/* display: flex; */

}
/* .box2 ul .box4{
	width: 142px;
	height: 88px;
	background: red;
	padding: 0;
	padding-right: 15px;
} */
.box2_ul_li{
	float: left;
	/* height: 100%; */
	padding: 26px 10px 38px;
	/* line-height: 88px; */
}
/* .item1{
	width: 100%;
	height: 200px;
	position: absolute;
	top: 140px;
	left: 0;
	background: #fff;
	z-index: 100;
	box-sizing: border-box;
} */
.item1{
	width: 100%;
	height: 0px;
	background: #fff;
	position: absolute;
	z-index: 999;
	box-sizing: border-box;
	overflow: hidden;
	transition: all 0.5s;
	top: 140px;
	left: 0;


}

.item1 ul{
	border-top: 1px solid rgb(224, 224, 224);
	width: 100%;
	height: 100%;
	padding-left: 80px;

}
.item1 ul li{
	width: 180px;
	height: 200px;
	float: left;
	margin-top: -1px;
}
.item1 ul li a{
	display: block;
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;

	align-content: space-between;
}
.item1 ul li a span{
	display: block;
	height: 20px;
	border: 1px solid rgb(255, 103, 0);
	padding: 1px 20px;
	line-height: 16px;
	color: rgb(255, 103, 0);
	margin: 0 auto;
}
.item1 ul li a img{
	display: block;
	width: 160px;
	height: 110px;
	margin: 0 auto;

}
.item1 ul li a h1{
	width: 100%;
	color: rgb(51, 51, 51);
	font-size: 12px;
	text-align: center;
}
.item1 ul li a h2{
	width: 100%;
	color: rgb(255, 103, 0);
	font-size: 12px;
	text-align: center;
}

.box2_ul_li a{
	color: rgb(51,51,51);
	font-size: 16px;
}
.box3 ul li:hover a{
	color: red;
}
.sousuo{
	width: 287px;
	height: 48px;
	float: right;
	margin-top: 22px;
	position: relative;
}
 .sou{
	width: 50px;
	height: 48px;
	float: right;
	border: 1px solid  #e0e0e0;
	text-align: center;
	line-height: 48px;
	/* background: url('../img/sou.png') no-repeat center center; */
} 
.kuang{
	width: 233px;
	height: 48px;
	border: 1px solid  #e0e0e0;
	float: right;
	outline: none;
}
.sousuo .sou i{
	font-size: 30px;
}
.sou:hover{
	background: rgb(255, 103, 0);
	color: #fff;
}
.kuang:focus{
	border: 1px solid rgb(255, 103, 0);
}
.sousuowenzi{
	width: 172px;
	height: 21px;
	position: absolute;
	top: 14px;
	right: 62px;
	text-align: right;
	font-size: 12px;
}
.sousuowenzileft{
	width: 65px;
	height: 18px;
	background: rgb(238, 238, 238);
	color: #757575;
}
.sousuowenziright{
	width: 97px;
	height: 18px;
	background: rgb(238, 238, 238);
	color: #757575;
}
.sousuowenzileft:hover{
	background: rgb(255, 103, 0);
	color: #fff;
}
.sousuowenziright:hover{
	background: rgb(255, 103, 0);
	color: #fff;
}
/* 导航结束 */
/* 广告开始 */
.guanggaohz{
	width: 1226px;
	margin: 0 auto;
}
.banner{
	width: 1226px;
	height: 460px;
	background: red;
	position: relative;
}

/* 广告图片开始 */
.banner .imgBox li{
	position: absolute;
	z-index: 0;
	opacity:0;
}
/* 广告图片结束 */
/* 侧边栏开始 */
.sidebar{
	width: 234px;
	height: 460px;
	background: rgba(0, 0, 0, 0.4);
	position: absolute;
	float: left;
	z-index:10;
}
.sidebarxhz{
	width: 234px;
	height: 420px;
	background: rgba(0, 0, 0, 0.0);
	margin: 20px 0;
}
.sidebarwenzi{
	width: 204px;
    height: 42px;
    background: rgba(0, 0, 0, 0.0);
    line-height: 42px;
    padding-left: 30px;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
}
.item{
    position: absolute;
    left: 234px;
    top: 0;
    z-index: 10000;
    box-sizing: border-box;
    height: 460px;
    width: 870px;
    border: 1px solid #e0e0e0;
    border-left: 0;
    background: #fff;
}

.item ul{
		/* width: auto; */
		height: 100%;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		/* overflow: hidden; */

}
.sidebarxhz .item:nth-child(6){
	width: 991px;
}
.sidebarxhz .item:nth-child(8){
	width: 992px;
}
.sidebarxhz .item:nth-child(10){
	width: 552px;
}
.sidebarxhz .item:nth-child(12){
	width: 992px;
}
.sidebarxhz .item:nth-child(14){
	width: 302px;
}
.sidebarxhz .item:nth-child(16){
	width: 302px;
}
.sidebarxhz .item:nth-child(18){
	width: 302px;
}

.sidebarxhz .item:nth-child(20){
	width: 302px;
}
.item ul li,.item ul li a{
		display: block;
		width: 265px;
		height: 76px;
		
}
.item ul li a{
	display:flex;
	justify-content: space-between;
	align-items: center;
}
.item ul li a img{
	width: 40px;
	height: 40px;
	margin-left: 20px;
}

.item ul li a span{
	color: rgb(51, 51, 51);
	font-size: 14px;
	width: 170px;
	text-align: left;
	margin-left: 15px;
}
.item ul li a span:hover{
	color: #ff6709;
}
.item ul li a div{
	width: 58px;
	height: 22px;
	border:1px solid #ff6709;
	text-align: center;
	line-height: 22px;
	color: #ff6709;
	
}
.item ul li a .div33{
	width: 58px;
	height: 22px;
	border:1px solid rgba(0, 0, 0, 0);
	text-align: center;
	line-height: 22px;
	
	
}
.item ul li a .div33:hover{
	background: rgba(0, 0, 0, 0);
}

.item ul li a div:hover{
	background: #ff6709;
	color: white;
} 
.none{
	display: none;
}
.block{
	display: block;
}





.sidebarwenzijt{
	width: 16px;
	height: 16px;
	float: right;
	margin-right: 25px;
}
.sidebar .sidebarwenzi:hover{
	background: #ff6700;

}
/* 侧边栏结束 */
/* 广告把手开始 */
.bsright{
	width: 41px;
/* 	height: 69px; */
    padding: 15px 0;
	background: rgba(0, 0, 0, 0.0);
	float: left;
	margin-top: 196px;
	margin-left: 235px;
	position: absolute;
	font-size: 30px;
	text-align: center;
	z-index: 10;
}

.bsleft{
	width: 41px;
	/* height: 69px; */
	padding: 15px 0;
	background: rgba(0, 0, 0, 0.0) ;
	float: right;
	position: absolute;
	right: 0;
	top: 0;
	margin-top: 196px;
	font-size: 30px;
	text-align: center;
	z-index: 10;
}
.banner .bsleft:hover{
	color: #fff;
	background: rgba(0, 0, 0, 0.6) ;
}
.banner .bsright:hover{
	color: #fff;
	background: rgba(0, 0, 0, 0.6) ;
}
/* 广告把手结束 */
/* 点点开始 */
.dianhz{
	/* width: 110px; */
	height: 10px;
	z-index: 10;
	/* background: red; */
	float: right;
	position: absolute;
	bottom: 25px;
	right: 35px;
/* 	margin-bottom: 25px;
	margin-right: 35px; */
}
/* .dians{
	background: #000;
} */
.dianhz li{
	width: 6px;
	height: 6px;
	float: left;
	background: #fff;
	margin: 0 4px;
	border: 2px solid #847376;
	border-radius: 50%;
	cursor:pointer;
}



/* 点点结束 */
/* 广告结束 */
/* 渐变开始 */
.jianbian-box{
	width: 1226px;
	height: 170px;
	margin: 0 auto;
	margin-top: 14px;
}
.jianbian-box1,.jianbian-box2{
	width: 316px;
	height: 170px;
	background: #5f5750;
	float: left;
	margin-left: 14px;
	display: block;
}
.jianbian-box1{
	margin-left: 0;
	width: 234px;
}
.jianbian-list{
	width: 75px;
	height: 84px;
	float: left;
	font-size: 11px;
	text-align: center;
	display: block;
}
.jianbian-tubiao{
	width: 70px;
	height: 25px;
	position: relative;
	margin-right: auto;
	top: 18px;
}
.jianbian-box .jianbian-box1 .jianbian-list i{
	color: #cdcac8;
	font-size: 24px;
	position: absolute;
	left: 22px;
	top: 0;
	margin-right: auto;
}
.jianbian-list i:hover{
	color: #fff;
	}

.jianbian-list:first-child{
	border-bottom: 1px solid #665e57;
	border-right: 1px solid #665e57;
}
.jianbian-list:nth-child(2){
	border-right: 1px solid #665e57;
}
.jianbian-list:nth-child(3){
	border-bottom: 1px solid #665e57;
}
.jianbian-list:nth-child(4){
	border-right: : 1px solid #665e57;
}
.jianbian-list:nth-child(5){
	border-top : 1px solid #665e57;
	border-left: 1px solid #665e57;
}
.jianbian-list:last-child{
	border-left: 1px solid #665e57;
}
.jianbian-list-son{
	display: block;
	width:75px; 
	height: 11px;
	margin-top: 51px;
	color: #cdcac8;
	float: left;
	cursor: pointer;
}
.jianbian-list:hover  i{
	color: #f9f8f7;
}
.jianbian-box2 img{
	width: 100%;
	height: 100%;
	display: block;
}
/* 渐变结束 */
/* 标题 */
.biaoti{
	width: 1226px;
	height: 39px;
	background: #ffffff;
	margin:0 auto ;
	padding-top: 45px;
}
.biao{
	width: 140px;
	height: 100%;
	font-size: 20px;
	margin-bottom: ;
	color: #333333;
	float: left;
}
/* .biao1{
	width: 80px;
	height: 24px;
	float: right;
	margin-top: 5px;
} */
.danpindhz{
	width: 1226px;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
}
.danpin{
	width: 2480px;
	height: 340px;
	background: #ffffff;
    margin: 0 auto;
    padding-bottom: 40px;
    transition: all 1s;
}
button{
	width: 36px;
	height: 24px;
	background: #fafafa;
	border: 1px solid #ccc;
	font-weight: bold;
	font-size: 14px;
	font-family: 微软;
	color: #c2c2c2;
	line-height: 22px;
	outline: none;
	float: right;
}

.dis{
	color: #000;
}
.dis:hover{
	color: orange;
}

.hezi{
	width: 234px;
	height: 339px;
	background: #fafafa;
	float: left;
	margin-right: 14px;
}
.danpin .hezi:last-child{
	margin-right: 0;
	border-top: 1px solid #00c0a5 ;
}
.danpin .hezi:first-child{
	border-top: 1px solid #ffac13 ;

}
.tphz{
	display: block;
	width: 234px;
	height: 133px;
	margin-top: 53px;
	background: red
}
.tphz img{
	display: block;
	width: 100%;
	height: 100%;
	margin: 53px 0;
}

.danpin .hezi:nth-child(2){ 
	border-top: 1px solid #83c44e ;
}
.danpin .hezi:nth-child(3){ 
	border-top: 1px solid #2196f3 ;
}
.danpin .hezi:nth-child(4){ 
	border-top: 1px solid #e53935 ;
}
.word{
	width: 213px;
	height: 80px;
	background: #fafafa;
	margin: 0 auto;
	margin-top: 46px;
	font-size: 12px;
	font-family: 微软雅黑;
	display: block;
	text-align: center;
}
.word1{
    color: #212121;
    display: block;
    text-decoration: none;
   font-size: 12px;
}
.word2{
	color: #b6b0b0;
	display: block;
	margin-top: 11px;
}
.word3{
	color: #ff6709;
	margin-top: 20px;
}

/* 家电 */
.jiadianddhz{
	width: 100%;
	height: auto;
	background: #f5f5f5;

}
.jisdian{
	width: 1226px;
	height: 686px;
	overflow: hidden;
	background: #f5f5f5;
	padding-top: 77px;
	margin: 0 auto;
}
.biaotilan{
	width: 1226px;
	height: 21px;
	margin: 0 auto;
}
.jd-left{
	font-size: 19px;
	text-align: left;
	line-height: 19px;
	color: #333;
	float: left;
}
.jd-right{
	float: right;
	height: 21px; 
}
.jd-right1{
	float: left;
	line-height: 16px;
	font-size: 16px;
	color: #424242; 
	margin-left: 30px;
	display: block;
}
.jd-right1 a{
	color: #000;
}



/* 智能 */
/* .zhineng{
	width:100%;
	height: 100%;
	overflow: hidden;
	background: #f5f5f5;
	padding-top: 77px;
}
.znbiaotilan{
	width: 1226px;
	height: 21px;
	margin: 0 auto;
}
.zn-left{
	font-size: 19px;
	text-align: left;
	line-height: 19px;
	color: #333;
	float: left;
}
.zn-right{
	float: right;
	height: 21px; 
}
.zn-right1{
	float: left;
	line-height: 16px;
	font-size: 16px;
	color: #424242; 
	margin-left: 30px;
	display: block;
}
.zn-right1 a{
	color: #000;
}

.znshangpinlan{
	width: 1226px;
	height: 614px;
	margin: 0 auto;
	margin-top: 19px;
	display: none;
}
 */
















/* 商品栏 */
.shangpinlan{
	width: 1226px;
	height: 614px;
	margin: 0 auto;
	margin-top: 19px;
	display: none;
}
/* .shangpinlan{
	width: 1226px;
	height: 614px;
	margin: 0 auto;
	margin-top: 19px;
}
.shangpinlan{
	width: 1226px;
	height: 614px;
	margin: 0 auto;
	margin-top: 19px;
} */
/* .farit{
	display: block;
} */
.jiadian-left{
	float: left;
	width: 234px;
	height: 614px;
	display: block;
	transition: 1s;
}
.jiadian-left:hover{
	box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.4);
	transform: translateY(-5px); 
}
.jiadian-right{
	float: left;
	width: 978px;
	height: 614px;
	margin-left: 14px;
}
.jiadian-shp1,.jiadian-shp2{
	width: 234px;
	height: 300px;
	float: left;
	margin-right: 14px;
	margin-bottom: 14px;
	background: #fff;
	position: relative;
	overflow: hidden;
	transition: 1s;
}
.jiadian-shp2{
	margin-right: 0;
	background: #f5f5f5;
	width: 234px;
	height: 300px;
	float: left;
	margin-bottom: 14px;
	position: relative;
}
.jiadian-shp1:hover{
	box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.4);
	transform: translateY(-5px);
}
.shp{
	margin-right: 0;
}
.jiadian-yinc{
	width: 234px;
	height: 95px;
	background: #ff6700;
	position: absolute;
	left: 0;
	bottom: -95px;
	display: block;
	transition: 1s;
}
.jiadian-shp1:hover .jiadian-yinc{
	transform: translateY(-95px);
}
.jiadian-yinc-wenzi1{
	width: 209px;
	margin: 9px auto;
	font-size: 15px;
	text-align: center;
	line-height: 23px;
	color: #fff;
}
.jiadian-yinc-wenzi2{
	width: 209px;
	font-size: 14px;
	text-align: center;
	line-height: 14px;
	color: #ffbf94;
	margin: 0 auto;
}
.jiadian-hong{
	width: 64px;
	height: 20px;
	margin: 0 auto;
	background: #e53935;
	font-size: 12px;
	color: #ffffff;
	text-align: center;
	line-height: 20px;
}
.jiadian-tu{
	width: 234px;
	height: 168px;
	display: block;
}
.jiadian-tu img{
	display: block;
	width: 100%;
	height: 100%;
}
.jiadian-wenzi{
	width: 100%;
	height: 61px;
	font-size: 12px;
	text-align: center;
}
.jiadian-wenzi1{
	color: #333333;
	margin-bottom:8px ;
}
.jiadian-wenzi2{
	color: #b0b0b0;
	margin-bottom: 18px;
}
.jiadian-wenzi3{
	color: #b0b0b0;
}
.jiadian-shap1-top{
	width: 234px;
	height: 143px;
	margin-bottom: 14px;
	background: #fff;
	transition: 1s;
}
.jiadian-shap1-top:hover{
	box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.4);
	transform: translateY(-5px); 
}
.jiadian-shap1-wenzi{
	width: 71px;
	height: 38px;
	margin-top: 44px;
	margin-left: 30px;
	float: left;
	font-size: 12px;
	line-height: 12px;
}
.wenzi{
	width: 72px;
	height: 36px;
	font-size:17px;
	margin-top: 55px; 
}
.jiadian-shap1-wenzi1{
	display: block;
	color: #333333;
	margin-bottom: 15px;
}
.jiadian-shap1-wenzi2{
	color: #ff6700;
}
.jiadian-shap1-wenzi3{
	color: #333;
}
.jiadian-shap1-wenzi4{
	margin-top: 8px;
	font-size: 11px;
	color: #a075a0;
}
.jiadian-shap1-tu{
	width: 118px;
	height: 143px;
	float: right;
}
.zhin-left{
	float: left;
	width: 234px;
	height: 614px;
	display: block;
}
.zhin-wenzi{
	width: 100%;
	height: 76px;
	text-align: center;
	margin-top: 40px;
}
.zhin-wenzi1{
	font-size: 22px;
	margin-bottom: 2px;
	color: #333;
	display: block;
}
.zhin-wenzi2{
	font-size: 14px;
	margin-bottom: 4px;
	color: #646a65;
}
.zhin-wenzi3{
	font-size: 18px;
	color: #ed5351;
}
.zhin-tu{
	width: 234px;
	height: 186px;
	display: block;
}
.zhin-tu img{
	display: block;
	width: 100%;
	height: 100%;
}



.wntj-bj{
	width: 100%;
	height: 380px;
	background: rgb(245, 245, 245);
}
.tjbiaoti{
	width: 1226px;
	height: 40px;
	margin: 0 auto;
	background: #f5f5f5;
	padding-top: 43px;
}
.tjbiaoti-left{
	font-size: 19px;
	text-align: left;
	line-height: 19px;
	color: #333;
	float: left
}
.tjbiaoti-right{
	width: 71px;
	height: 24px;
	margin-top: 6px;
	float: right; 
}
.biaoti-right1{
	width: 34px;
	height: 22px;
	float: left;
}
.xiaomi{
	width: 1226px;
	height: 340px;
	background: rgb(245, 245, 245);
	margin: 0 auto;

}
.xiaomi-box{
	width: 234px;
	height: 339px;
	float: left;
	margin-right: 14px;
	background: #FAFAFA;
}


.xiaomi .xiaomi-box:last-child{
	margin-right:  0;
}
.box-top{
	width: 234px;
	height: 200px;
	background: red;
	display: block;
	margin-bottom: 12px;
}
.box-top img{
	display: block;
	width: 100%;
	height: 100%;
}
.weizi{
	width: 234px;
	height: 96px;
	font-size: 12px;
	text-align: center;
	line-height: 12px;
}
.weizi1{
	font-weight: bold;
	color: #212121;
}
.weizi2{
	color: #ff6709;
    margin-top: 16px;
}
.weizi3{
	color: #c0b0b6;
     margin-top: 19px;
}




/* 热评产品 */
.rpcp-bj{
	background: rgb(245, 245, 245);
}
.stareping{
		width: 100%;
		height: 80px;
		background: #f5f5f5;
		color: #333333;
		font-size: 19px;
		padding-top: 43px;

}
.starword-reping{
		float: left;
		margin-top: 40px;
		margin-left: 53px;
}
.reping{
		width: 1226px;
		height: 415px;
		background: #f5f5f5;
		margin: 0 auto;
}
.repingbox{
	width: 296px;
	height: 415px;
	background: #ffffff;
	margin-right: 14px;
	float: left;
	
}

.reping :last-child{
	margin-right: 0; 
}
.singleproduct-reping{
	display: block;
	width: 100%;
	height: 220px;
	background: pink;
		
		
}
.repingword1{
	width: 240px;
	margin: 20px 22px;
	display: block;
	color: #333333;
	line-height: 24px;
	font-size: 12px;
	text-align: left;

}
.repingword2{
	width: 240px;
	margin: 0 28px 8px;
	display: block;
	color: #b6b6c9;	
	font-size: 12px;
	text-align: left;

}
.repingword3{
		
	margin-top:16px; 
	display: block;
	color: #fd7d09;
	font-size: 12px;
	text-align: left;
}
.repingword4{
		
	float: left;
	color: #333333;
	font-size: 12px;
	margin-top:16px;
	margin-left: 28px;
	padding-right: 9px;
	border-right: 2px solid #ebe4e0;
	margin-right: 9px;		
}
/* 热评产品结束 */

/* 内容开始 */
.nr-nav{
	width: 100%;
	background: #f5f5f5;
	overflow: hidden;
	padding-top:  40px;
}
.nr-biaoti{
	width: 1226px;
	height: 40px;
	margin: 0 auto;
	font-size: 21px;
	color: #333;
}
.nr-conrent{
	width: 1226px;
	height: 418px;
	margin: 0 auto;
}
.nr-content-main1{
	width: 296px;
	height: 418px;
	float: left;
	margin-right: 14px;
	display: block;
	transition: 1s;
	background: #fff;
}
.nr-content-main1:hover{
	box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.4);
	transform: translateY(-5px);
}
.nr-content-main1:last-child{
	margin-right: 0;
}
.nr-content-main1{
	height: 419px;
	background: #fff;
	position: relative;
	overflow: hidden;
}
.nr-content-main1:first-child{
	border-top: 1px solid #ffac13;
}
.nr-content-main1:nth-child(2){
	border-top: 1px solid #83c44e;
}
.nr-content-main1:nth-child(3){
	border-top: 1px solid #e53935;
}
.nr-content-main1:last-child{
	border-top: 1px solid #2196f3;
}
.nr-twxhz{
	width: 100%;
	height: 330px;
	float: left;
	/* display: none; */
	position: absolute;
	left: 296px;
}
.nr-main-wenzi{
	width: 100%;
	height: 143px;
	margin-top: 46px;
}

.act{
	display: block;
	left: 0;
}
.nr-main-weizi1{
	width: 100%;
	height: 15px;
	font-size: 15px;
	text-align: center;
	line-height: 15px;
	color: #ffb313;
} 
.nr-main-wenzi2{
	width:100%;
	height: 20px;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	color: #333;
	display: block;
	margin-top: 19px;
} 
.nr-main-wenzi3{
	width: 205px;
	display: block;
	font-size: 11px;
	line-height: 20px;
	color: #b0b0b0;
	margin: 0 auto;
	margin-top: 19px;
	text-align: center;
}
.nr-main-wenzi4{
	width: 100%;
	height: 12px;
	text-align: center;
	line-height: 12px;
	margin-top: 16px;
	color: #333;
	display: block;
}
.nr-main-pic{
	width: 100%;
	height: 187px;
	background: aqua;
	display: block;
}
.nr-main-pic img{
	display: block;
	width: 100%;
	height: 100%;
}

.nr-main-bth{
	width: 114px;
	height: 10px;
	margin: 8px auto;
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 999;

}
.nr-main-bth-son1,.nr-main-bth-son2{
	float: left;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	border: 2px solid #ff6700;
	margin: auto 14px;
}
.nr-main-bth-son2{
	float: left;
	border: 0;
	background: #b0b0b0;
	margin: 2px 14px;
}
.nr-main-bth-son2:hover{
	background: #ff6700;
}
.nr-content-left,.nr-content-right{
	width: 20px;
	height: 48px;
	background: red;
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	font-size: 12px;
	text-align: center;
	line-height: 48px;
	color: #fff;
	background: rgba(176, 176, 176, 0.6);
	transition: 1s;
}
.nr-content-left{
	left: -20px;
}
.nr-content-right{
	right: -20px;
}
.nr-content-main1:hover .nr-content-left{
	transform: translateX(20px);
}
.nr-content-main1:hover .nr-content-right{
	transform: translateX(-20px);
}
/* 内容结束 */
/* 视频开始 */
.shp-nav{
	width: 100%;
	height: 385px;
	overflow: hidden;
	background: #f5f5f5;
	padding-top: 37px; 
}
.shp-biaoti{
	width: 1226px;
	height: 40px;
	margin: 0 auto;
}
.shp-biaoti-left,.shp-biaoti-right{
	height: 40px;
	float: left;
	font-size: 21px;
	color: #333;
}
.shp-biaoti-right{
	float: right;
	float: right;
	font-size: 17px;
	line-height: 27px;
	display: block; 
}
.shp-biaoti-right img{
	float: right;
	display: block;
	width: 20px;
	height: 20px;
	background: aqua;
	margin-top: 4px;
	margin-left: 8px;
}
.shp-content{
	width: 1226px;
	height: 285px;
	margin: 0 auto;
}
.shp-content-main{
	width: 296px;
	height: 100%;
	background: #fff;
	margin-right: 14px;
	float: left;
	transition: 1s;
	position: relative;
}
.shp-content-main:hover{
	box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.4);
	transform: translateY(-5px); 
}
.shp-content-main:last-child{
	margin-right: 0;
}
.shp-main-pic{
	display: block;
	width: 296px;
	height: 180px;
	background: pink;
}
.shp-main-pic img{
	display: block;
	width: 100%;
	height: 100%;
}
.shp-main-pic2{
	width: 40px;
	height: 28px;
	background: red;
	position: absolute;
	left:  18px;
	bottom: 113px;
	cursor: pointer;
	background: url('../img/sh7.png') no-repeat;
}
.shp-main-pic:hover .shp-main-pic2{
	background: url('../img/sh8.png') no-repeat;
}
.shp-main-weizi{
	width: 100%;
	height: 43px;
	margin-top: 29px;
}
.shp-main-weizi1{
	width: 100%;
	height: 18px;
	display: block;
	font-size: 12px;
	text-align: center;
	line-height: 18px;
	color: #333;
}
.shp-main-weizi1:hover{
	color: #ff6700;
}
.shp-main-weizi2{
	width: 100%;
	height: 18px;
	margin-top: 8px;
	font-size: 12px;
	text-align: center;
	line-height: 18px;
	color: #b7b7cb;
}
/* 视频结束 */
/* 页脚开始 */
.footer-box{
	width: 100%;
	height: 437px;
	background: #fafafa;
}
.footer-top{
	width: 100%;
	height: 272px;
	background: #fff;
}
.footer-list{
	width: 1226px;
	height: 79px;
	margin: 0 auto;
	border-bottom: 1px solid #e0e0e0;
}
.footer-main{
	width: 1226px;
	height: 151px;
	margin: 0 auto;
	margin-top: 41px;
}
.footer-list-son{
	width: 243px;
	height: 79px;
	float: left;
}
.footer-list-sons{
	width: 243px;
	height: 30px;
	margin-top: 25px;
	border-right: 1px solid #e0e0e0;
}
.footer-list-son1{
	float: left;
	width: 30px;
	height: 30px;
	margin-left: 52px;
	display: block
}
.footer-list-son2{
	height: 16px;
	display: block;
	float: left;
	font-size: 16px;
	color: #333;
	margin-top: 7px;
	margin-left: 3px;
	padding-right: ;
}
.footer-list-son2:hover{
	color: #ff7010;
}
.footer-main-left{
	width: 974px;
	height: 151px;
	float: left;
}
.footer-main-list1{
	width: 160px;
	height: 151px;
	float: left;
}
.footer-main-list-son1{
	height: 12px;
	font-size: 12px;
	color: #333;
	margin-bottom:23px; 
}
.footer-main-list-son2{
	height: 28px;
	font-size: 11px;
	line-height: 28px;
	color: #757575;
	display: block;
}
.footer-main-list-son2:hover{
	color: #ff7010;
}
.footer-main-right{
	width: 251px;
	height: 111px;
	float: right;
	border-left: 1px solid #e0e0e0;
}
.footer-main-list2{
	height: 20px;
	text-align: center;
	line-height: 20px;
	font-size: 16px;
	color: #ff7010;
}
.footer-main-list3{
	width: 126px;
	margin: 0 auto;
	margin-top: 6px;
	font-size: 11px;
	color: #616161;
	text-align: center;
	line-height: 18px;
}
.footer-main-list4{
	width: 118px;
	height: 28px;
	margin: 0 auto;
	font-size: 11px;
	text-align: center;
	margin-top: 16px;
	line-height: 28px;
	border: 1px solid #ff7010;
	display: block;
	text-decoration: none;
	color: #ff7010;
}

.footer-main-list4:hover{
	background: #ff7010;
	color: #fff;
}
.footer-bottom{
	width: 1226px;
	height: 58px;
	padding-top: 30px;
	margin: 0 auto;
}
.footer-bottpm-left{
	width: 58px;
	height: 58px;
	float: left;
	background: url('../img/nav1.png') no-repeat center center;
}
.footer-bottom-center{
	width: 780px;
	height: 48px;
	float: left;
	margin-left: 6px;
	margin-top: 5px;
}
.footer-bottom-center-sons{
	width: 780px;
	height: 16px;
}
.footer-bottom-center-sons li{
	font-size: 11px;
	line-height: 16px;
	float: left;
}
.footer-bottom-center-sons li a{ 
	color: #757575;
	display: block;
	border-right: 1px solid #757575;
	padding: 0 3px;
}
.footer-bottom-center-sons li a:hover{ 
	color: #ff7010;
}
.footer-bottom-center-sons2{
	height: 16px;
	font-size: 11px;
	line-height: 16px;
}
.footer-bottom-center-sons2 p{	
	color: #b6b0c0;
	float: left;
}
.footer-bottom-center-sons2 a{	
	color: #b6b0c0;
	float: left;
	margin: 0 2px;
}
.footer-bottom-center-sons2 a:hover{
	color: #ff7010;
}
.footer-bottom-center-sons3{
	height: 16px;
	font-size: 11px;
	line-height: 16px;
	color: #b6b3c0;
}
.footer-bottom-right{
	width: 374px;
	height: 44px;
	float: right;
}
.footer-bottom-right a{
	width: 87px;
	height: 44px;
	display: block;
	float: left;
	margin: 0 2px;
}
.footer-bottom-right a img{
	display: block;
	width: 100%;
	height: 100%;
}
.footer-center{
	width: 362px;
	height: 78px;
	margin: 0 auto;
	font-size: 20px;
	font-family: "楷体";
	text-align: center;
	line-height: 78px;
	color: #bebebe;
}
/* 页脚结束 